.gradient-custom {

    background: #f6d365;


    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));


    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.vh-100 {
    background: linear-gradient(#b2d6d6, #75c1d7);
}

div.card.mb-3 {
    border-radius: 0.5rem;
}

.col-md-4 {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

}
